.decoration {
  z-index: 5;
  position: absolute;
  background-color: black;
  height: 700px;
  width: 1000px;
  clip-path: circle(50% at 77% 26%);
  margin-left: 50%;
}
.decoration_2 {
  z-index: 6;
  position: absolute;
  background-color: black;
  height: 800px;
  width: 800px;
  clip-path: circle(50% at 38% 50%);
  margin-top: 10%;
}

.array-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title-container{
        margin: 8% auto;
    }
    
}