@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
@import "header";
* {
  font-family: "PT Serif", serif;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  
}

a {
  text-decoration: none;
}
.contenedor {
  position: relative;
  width:100vw;
  height: 100vh;
  overflow-x: hidden;
}
.navbarr {
  position: absolute;
  width: 100vw;
  height: 100px;
  background-color: rgba(255, 255, 255);

  .logo {
    width: 100px;
  }
  .nav-link {
    padding-right: 20%;
    transition: all 0.3s ease-in-out;
  }
  .nav-link:hover {
    color: #ffbf00
  }
  .social-list {
    z-index: 15 ;
    svg {
      color: #fff;
      font-size: 1.3em;
      margin: 15px;
      z-index: 20;
      transition: all 0.3s ease-in-out;
    }
    svg:hover {
      color: #ffbf00
    }
  }
}
.icons {
  margin: 10px;
}
